<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/home.css" />
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <main>
    <% if (usrs.length > 0) { %>
    <div class="grid">
      <h1 class="heading__title">User Dashboard</h1>
      <% for (let user of usrs) { %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= user.title %></h1>
        </header>
        <div class="card__image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLc5FvgOBn4zXwXwhr4OOCaLQsQekFP477A0BeyCbSFb-c2PCzoxWwPhV6DtSQ6pLNoc4&usqp=CAU" alt="user_img" />
        </div>
        <div class="card__content">
          <h4 class="user__des"><%= user.desc %></h4>
          <h4 class="user__skills"><%= user.skills %></h4>
          <button class="btn">View</button>
        </div>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1 class="heading__title">User Dashboard</h1>
    <h1 class="notification__msg">Empty User list</h1>
    <% } %>
  </main>
  <%- include('includes/end.ejs') %>
</body>

</html>
