<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/userlist.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (usrs.length > 0) { %>
    <div class="grid">
      <h1 class="heading__title">User List</h1>
      <table class="user-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Skills</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (let user of usrs) { %>
          <tr>
            <td><%= user.title %></td>
            <td><%= user.desc %></td>
            <td>
              <% let skillsArray = user.skills.split(','); %>
              <% if (skillsArray.length > 3) { %>
                <%= skillsArray.slice(0, 3).join(', ') + '...' %>
              <% } else { %>
                <%= skillsArray.join(', ') %>
              <% } %>
            </td>
            <td>
              <button class="btn" title="View"> <i class="fa fa-eye"></i> </button>
                <!-- a href="/admin/view-user" </a>    -->
              <button class="btn" title="Short-list"><i class="fa fa-list"></i></button>
              <button class="btn" title="Interview"><i class="fa fa-calendar"></i></button>
              <!-- <form action="/admin/user-delete" method="POST"> -->
              <button class="btn" title="Delete" type="submit"><i class="fa fa-trash"></i</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } else { %>
    <h1 class="heading__title">User List</h1>
    <h1 class="notification__msg">User Empty list</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
</html>
