<nav class="bg-white border-gray-200 py-4 dark:bg-gray-900">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
      <a href="/" class="flex items-center"> <!-- Updated href attribute -->
          <img src="https://pic.onlinewebfonts.com/thumbnails/icons_549290.svg" class="h-6 mr-3 sm:h-9" alt="Landwind Logo">
          <span class="self-center text-4xl font-semibold whitespace-nowrap dark:text-white">Zenith</span>
      </a>
      <div class="flex items-center lg:order-2">
          <div class="hidden mt-2 mr-4 sm:inline-block">
              <span></span>
          </div>

          
          
      </div>
      <div class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
          <ul class="flex flex-col mt-6 font-medium lg:flex-row lg:space-x-10 lg:mt-1">
              <li>
                  <a class="<%= path === '/' ? 'active' : '' %>"
                      href="/"
                      class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white"
                      aria-current="page">Home</a>
              </li>
              <li>
                  <a class="<%= path === '/service' ? 'active' : '' %>"
                      href="/service"
                      class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
                      aria-current="page">Service</a>
              </li>
              <li>
                  <a class="<%= path === '/price' ? 'active' : '' %>"
                      href="/price"
                      class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
                      aria-current="page">Price</a>
              </li>
              <li>
                  <a class="<%= path === '/career' ? 'active' : '' %>"
                      href="/career"
                      class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
                      aria-current="page">Career</a>
              </li>
              <li>
                  <a class="<%= path === '/about' ? 'active' : '' %>"
                      href="/about"
                      class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
                      aria-current="page">About Us</a>
              </li>
              <li>
                  <a class="<%= path === '/contact' ? 'active' : '' %>"
                      href="/contact"
                      class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
                      aria-current="page">Contact Us</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<style>
    nav a{
        font-size: large;
    }
    nav a:hover {
  color: blueviolet; /* Change this to the color you want */
  font-weight: 800;
}

/* Optionally, you can add transition effects for smoother color change */
nav a {
  transition: color 0.3s ease;
}
</style>